<body>
    <div class="main">
        <div class="container a-container" id="a-container">
            <form action="" id="a-form" class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <h2 class="form_title title">Covid Tracker</h2>
                <!-- <span class="form_span">use email</span> -->
                <div class="form-group">
                    <!-- <label for="name">NAME</label> -->
                    <input type="text" class="form-control" formControlName="name">
                    <!-- <label for="name">AGE</label> -->
                    <input type="text" class="form-control" formControlName="age">
                    <!-- <label for="name">GENDER</label> -->
                    <input type="radio" class="form-control" formControlName="gender">FEMALE
                    <input type="radio" class="form-control" formControlName="gender">MALE
                    <!-- <label for="name">ADHAR_NO</label> -->
                    <input type="text" class="form-control" formControlName="adhar_no">
                    <!-- <label for="name">CONTACT</label> -->
                    <input type="text" class="form-control" formControlName="phone_no">
                    <!-- <label for="name">HOSPITAL</label>
                    <input type="text" class="form-control" formControlName="hospital"> -->
                    <!-- <label for="name">PASSWORD</label> -->
                    <input type="text" class="form-control" formControlName="password">
                    <button class="form_button button submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>