<!-- <div class="navbar-fixed">
    <nav class="toolbar">
        <div class="nav-wrapper col s4">
            <ul class="right hide-on-med-and-down">
               <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">Home</a></li>
               <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/helpful']">Helpful Links</a></li>
                <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/login']">Login</a></li>
            </ul>
        </div>
    </nav>
</div> -->
