<app-anavbar></app-anavbar>
<div class="container">
    <div class="card"><br>
        <h4>Hospital Requests</h4>

        <p>Here are new requests</p>
        <div class="center" *ngIf="hospital==''">
            <div class="center"><h5 style="color: red;">Nothing pending........!</h5> </div>
        </div>
        <table class="table-striped" *ngIf="hospital!=''">
            <thead>
                <tr>
                    <th>Sl.no</th>
                    <th>Hospital Name</th>
                    <th>Address</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let val of hospital; let i=index">
                    <td> {{i+1}} </td>
                    <td> {{val.name}} </td>
                    <td> {{val.city}},<br>{{val.district}},<br>{{val.state}},<br>pin:{{val.pincode}} </td>
                    <td> {{val.type}} </td>
                    <td>
                        <a class="btn btn-primary" (click)="onApprove(val._id)">Accept</a>
                        <a class="btn btn-warning" (click)="onReject(val._id)">Reject</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>