<div class="container">
    <div class="Navbar" style="animation-delay: 0.5s; transition: all 0.3s ease-in-out 0s;">
        <img class="fadeInUp img-circle logo" alt="COVID-19 Tracker" src="assets/heading4.png"
            style="animation-delay: 0s; transition: all 0.3s ease-in-out 0s;">
        <div class="navbar-left">
            <a *ngIf="!authService.loggedIn();" routerLink="/admindashboard" routerLinkActive="active">
                <span class="fadeInUp" style="animation-delay: 0.2s;">Home</span>
            </a>
            <a *ngIf="!authService.loggedIn();" routerLink="/stock" routerLinkActive="active">
                <span class="fadeInUp " style="animation-delay: 0.5s;">Stock</span>
            </a>
            <!-- <a routerLink="/faq" routerLinkActive="active">
                <span class="fadeInUp " style="animation-delay: 0.6s;">FAQ</span>
            </a> -->
            
            <a *ngIf="!authService.loggedIn();" routerLink="/add/vaccine" routerLinkActive="active">
                <span class="fadeInUp " style="animation-delay: 0.5s;">Add Vaccine</span>
            </a>
            <a *ngIf="!authService.loggedIn();" routerLink="/view/requests" routerLinkActive="active">
                <span class="fadeInUp " style="animation-delay: 0.5s;">Hospital Requests</span>
            </a> 
            <a *ngIf="!authService.loggedIn();" (click)='onLogoutClick()'>
                <span class="fadeInUp " style="animation-delay: 0.5s;">Logout</span>
            </a> 

        </div>
    </div>
</div>
<div class="Banner fadeInUp" style="animation-delay: 0.2s;">
    <div class="snippet" *ngIf="BannerData else noBanner">{{BannerData}} &nbsp;</div>
    <ng-template #noBanner>
        <div class="snippet">#BreakTheChain of unverified WhatsApp forwards which spread wrong information! Do not
            forward unless you verify it.</div>
    </ng-template>

</div>